.tituloTabla {
    font-size: small;
    text-align: start;
    opacity: 0.4;
    font-weight: lighter;
    
}

.contenido {
    font-size: 15px;
}

.estiloTable {
    border-bottom-style:initial;
}

.table {
    margin-left: auto;
    margin-right: auto;
}